<%=@custompermissions%>
<table border="1">
  <tr><th>&nbsp;</th><th>&nbsp;</th>
<%

@roles.each do |role|
%>
  <th>
  <%=role.name%>
  </th>
<%
end
%>
  </tr>
  
<%
  @custompermissions.each do |permission|
  	%>
  		<tr>
  			<th rowspan="<%=permission.methods.size %>">
  				<%=permission.controller %>
  			</th>
  		</tr>
<%
  		(permission.methods.size-1).times do |i|
          	%>
          	<tr><th><%=permission.methods[i]%></th>
          		
          		<%
	          		@roles.each do |role|
					%>
					  <td>
					  <%= check_box("perm", "validated", {:onclick=>"ajaxUpdateControllerMethodPermission('controller', 'method', 'value');"}) %>
					  </td>
					<%
					end
          		%>

          		</tr>
          	<%
        end

  				
  
  end
  
%>
    
  
</table>

