<table border="1">
 <tr><th colspan="2">&nbsp;</th>
<%

@roles.each do |role|
%>
 <th>
 <%=role.name%>
 </th>
<%
end
%>
 </tr>
 
<%
 @custompermissions.each do |permission|
%>
       <tr>
               <th rowspan="<%=permission.methods.size+1 %>">
                       <%=permission.controller %>
                 </th>
         </tr>

       <%
         (permission.methods.size).times do |i|
       %>
               <tr><th><%=permission.methods[i]%></th>
               <%
               @roles.each do |role|
               @permissions = Permission.first(:conditions=>{:controller=>permission.controller, :method=>permission.methods[i]})

               record_check = @permissions.role_ids.include?(role.id.to_s)
               
              
               %>
                       <td>
                               <%= check_box("perm", "validated", {:onclick=>"ajaxUpdateControllerMethodPermission('" + role.id + "', '" + permission.methods[i] + "', '" + permission.controller + "', this.checked);", :checked=>record_check}) %>
                       </td>
                       <%
               end
       %>
               </tr>
       <%
       end
 end
%>
   
 
</table>
